DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/crm_equilatera?schema=public"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY="re_xxxxxxxxxxxx"
